<div id = "middle">
  <div id = "middle_content">   
    <!-- rendering partial for search_bar -->
	<%= form_tag(listingsearch_path, :method => 'get') do %>
	  <table>
	        <tr>
			<td>
				<select name="category_id">
					<option value="all">All</option>
					<% @categories.each do |category| %>
						<option value="<%= category.id %>"><%= category.name %></option>
					<% end %>
				</select>
			</td>
	    <td><%= text_field_tag "searchbar", "Search"%></td>
			<td><%= submit_tag("Search", :class => "button") %></td>
      <% end %>
      <td><%= link_to 'New Listing', new_listing_path, :class => 'large color_button green new_listing' %></td>  
    </tr>       
          
	    </table>
    <div id = "container">
    <p class="title">Categories</p>
    <div id = "categories">
      <ul>
        <li class="subtitle">Items</li>
		<% @categories.each do |category| %>
        <li><%= link_to category.name + " (" + category.listing.count.to_s + ")", listings_path + "/category/#{category.name.downcase.sub('(','').sub(')','').sub(' ','-')}" %></li>
		<% end %>
      </ul>
    </div>
    </div>
    <div id = "content">

	<!-- jQuery Featured Seller Gallery -->
	<% if !@premium_listings.first.nil? %>
		<p class="title">Featured Items</p>
    <div class = "premium_items">
		  <div class="main_image">
			<% if !@premium_listings.first.listing_images.nil? %>
		    	<%= image_tag(@premium_listings.first.listing_images.first.photo.url(:large))%>
			<% else %>
				<%= image_tag '/images/penguin_listing_pic.png' %>
			<% end %>
		    <div class="desc">
		        <a href="#" class="collapse">Close Me!</a>
		        <div class="block">
                <div class = "premium_title"><%= link_to @premium_listings.first.title, listing_path(@premium_listings.first.id) %></div>
                <small><%= @premium_listings.first.description %></small>
		        </div>
		    </div>
      </div><!-- main_image end -->
		  <div class="image_thumb">
			<ul>
				<% @premium_listings.each do |recent| %>
				<% if @premium_listings.first.title == recent.title %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
					<% if recent.listing_images.length > 0 %>
						<%= link_to(image_tag(recent.listing_images.first.photo.url(:thumb)),recent.listing_images.first.photo.url(:large)) %>
					<% end %>
          <div class="block">
            <div class = "premium_title"><%= link_to recent.title, listing_path(recent.id) %></div>
            <small><%= h recent.description %></small>
            </div>
          </li>
				<% end %>
      </ul>
      <div id = "clear"></div>
      </div><!-- image_thumb end -->
	<% end %>
  <div id = "clear"></div>
</div>
      <p class="title">Recently Added Items</p>
	      <div id = "recent_items">
	      <% @latest_listings.each_with_index do |recent, count| %>
	          <% if recent.listing_images.length > 0 %>
	      <% if count%4 == 0 and count != 0 %>
	      <div id = "clear"></div> 
	      </div>
	      <div id = "recent_items">
	      <% end %>
         <div class="item">
          <div class ="item_image"><%= link_to(image_tag(recent.listing_images.first.photo.url(:small)), recent) %></div>
          <div class = "item_text">
            <div class = "item_title">  <%= link_to(truncate(recent.title, :length => 40), recent ) %>
            </div>
            <div class = "item_author"><%= link_to(recent.user.alias, recent ) %></div>
            <div class = "item_price"><%= "$" + recent.price.to_s %></div>
          </div>
        </div>          
			<% end %>
	    <% end -%>      
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>      
    </div> <!-- content -->
    <div id = "clear"></div>
  </div><!-- middle content -->
  <div id = "clear"></div>

</div><!-- middle end -->    
<div id = "clear"></div>

<!--
<% @listings.each do |listing| %>
  <div class = "<%= cycle("listing_even","listing_odd") %>">
		<span class = "listing_header"><%= link_to "#{listing.title} by #{listing.author}" -%></span>
		<br/>
		<span class = "listing_description"><%= truncate(listing.description, :length => 200) -%></span>

		<% listing.listing_images do |image| %>
			<%= image_tag image.photo.url(:small) %>
		<% end %>

		<% if current_user && (listing.author == current_user.name || current_user.user_role == "admin") %>
			<%= link_to 'Show', listing %>
			<%= link_to 'Edit', edit_listing_path(listing) %>
			<%= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</div>
<% end %> !-->

