
<div id = "middle">
  <div id = "middle_content">   
    <!-- rendering partial for search_bar -->
	<%= form_tag(listingsearch_path, :method => 'get') do %>
	  <table>
	        <tr>
			<td>
				<select name="category_id">
					<option value="all">All</option>
					<% @categories.each do |category| %>
						<option value="<%= category.id %>"><%= category.name %></option>
					<% end %>
				</select>
			</td>
	        <td><%= text_field_tag "searchbar"%></td>
			    <td><%= submit_tag("Search", :class => "search_button") %></td>
      <% end %>
      <td><%= link_to 'New listing', new_listing_path, :class => 'button new_button' %></td>  
    </tr>       
          
	    </table>
    <div id = "container">
    <p class="title">Categories</p>
    <div id = "categories">
      <ul>
        <li class="subtitle">Items</li>
		<% @categories.each do |category| %>
        <li><%= link_to category.name, "listings/category/#{category.name.downcase.sub('(','').sub(')','').sub(' ','-')}" %></li>
		<% end %>
      </ul>
    </div>
    </div>
    <div id = "content">
	
	<!-- Trying Stuff for jQuery Gallery -->
	<p class="title">Premium Items</p>
	<div class="main_image">
	    <%= image_tag(@latest_listings.first.listing_images.first.photo.url(:large))%>
	    <div class="desc">
	        <a href="#" class="collapse">Close Me!</a>
	        <div class="block">
	            <h2><%= @latest_listings.first.title %></h2>
	            <small><%= @latest_listings.first.created_at %></small>
	            <p><%= @latest_listings.first.description %></p>
	        </div>
	    </div>
	</div>
	<div class="image_thumb">
		<ul>
			<% @latest_listings.each do |recent| %>
			<% if @latest_listings.first.title == recent.title %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<% if recent.listing_images.length > 0 %>
					<%= link_to(image_tag(recent.listing_images.first.photo.url(:thumb)),recent.listing_images.first.photo.url(:large)) %>
				<% end %>
				<div class="block">
					<small><%= h recent.title%></small><br/>
					<small><%= h recent.created_at %></small>
					<p><%= h recent.description %></p>
				</div>
			</li>

			<% end %>
		</ul>
	</div>
	
	<!-- jQuery for gallery -->
	<script type="text/javascript">
		$(".main_image .desc").show(); //Show Banner
		$(".main_image .block").animate({ opacity: 0.85 }, 1 ); //Set Opacity
		
		$(".image_thumb ul li:first").addClass('active'); //Add the active class (highlights the very first list item by default)
		$(".image_thumb ul li").click(function(){
		    //Set Variables
		    var imgAlt = $(this).find('img').attr("alt"); //Get Alt Tag of Image
		    var imgTitle = $(this).find('a').attr("href"); //Get Main Image URL
		    var imgDesc = $(this).find('.block').html();  //Get HTML of the "block" container
		    var imgDescHeight = $(".main_image").find('.block').height(); //Find the height of the "block"

		    if ($(this).is(".active")) {  //If the list item is active/selected, then...
		        return false; // Don't click through - Prevents repetitive animations on active/selected list-item
		    } else { //If not active then...
		        //Animate the Description
		        $(".main_image .block").animate({ opacity: 0, marginBottom: -imgDescHeight }, 250 , function() { //Pull the block down (negative bottom margin of its own height)
		            $(".main_image .block").html(imgDesc).animate({ opacity: 0.85,  marginBottom: "0" }, 250 ); //swap the html of the block, then pull the block container back up and set opacity
		            $(".main_image img").attr({ src: imgTitle , alt: imgAlt}); //Switch the main image (URL + alt tag)
		        });
		    }
		    //Show active list-item
		    $(".image_thumb ul li").removeClass('active'); //Remove class of 'active' on all list-items
		    $(this).addClass('active');  //Add class of 'active' on the selected list
		    return false; 

		}) .hover(function(){ //Hover effects on list-item 
		    $(this).addClass('hover'); //Add class "hover" on hover 
		    }, function() {
		    $(this).removeClass('hover'); //Remove class "hover" on hover out
		});
		
		$("a.collapse").click(function(){
		    $(".main_banner .block").slideToggle(); //Toggle the description (slide up and down)
		    $("a.collapse").toggleClass("show"); //Toggle the class name of "show" (the hide/show tab)
		});
		
		function intervalSwitching(){
			var $active = $('.image_thumb ul .active');
			//alert($active.find('.block').html());
			if ( $active.next().length != 0 ){ // if the element isn't last
				var $next = $active.next();
			}
			else { // find first
				var $next = $(".image_thumb ul li:first");
			}
			var imgAlt = $next.find('img').attr("alt"); //Get Alt Tag of next Image
		    var imgTitle = $next.find('a').attr("href"); //Get Main Image URL of next node
		    var imgDesc = $next.find('.block').html();  //Get HTML of the next "block" container
		    var imgDescHeight = $(".main_image").find('.block').height(); //Find the height of the next "block"
			 $(".main_image .block").animate({ opacity: 0, marginBottom: -imgDescHeight }, 250 , function() { //Pull the block down (negative bottom margin of its own height)
		            $(".main_image .block").html(imgDesc).animate({ opacity: 0.85,  marginBottom: "0" }, 250 ); //swap the html of the block, then pull the block container back up and set opacity
					//alert(imgTitle + " ~ " + imgAlt);
		            $(".main_image img").attr({ src: imgTitle , alt: imgAlt}); //Switch the main image (URL + alt tag)
		        });
			$active.removeClass('active');
			$next.addClass('active');
			return false;
			// 			var $next = $active.next();
			// 			$next.addClass('active');
			// 			$active.remoteClass('active');
		}
		
		$(function(){ setInterval("intervalSwitching()",8000);});
	</script>
	
	
	
	
	
	
      <p class="title">Premium Items</p>
      <div id = "recent_items">
        <% for i in (1..3) %>
          <div class="item"></div>
        <% end -%>
        <div class="lastitem"></div>
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>
      <p class="title">Recently Added Items</p>
      <div id = "recent_items">
       <% @latest_listings.each do |recent| %>
			<% if recent.listing_images.length > 0 %>
	          <div class="item">
			  	<%= image_tag(recent.listing_images.first.photo.url(:small).sub(' ','%20')) %>
				<%= link_to(recent.title, recent )+ " by " + recent.author %>
				<%= "$" + recent.price.to_s %>
			  </div>
			<% end %>
	    <% end -%>
        <div class="lastitem"></div>
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>      
    </div> <!-- content -->
    <div id = "clear"></div>
  </div><!-- middle content -->
  <div id = "clear"></div>

</div><!-- middle end -->    
<div id = "clear"></div>

<% @listings.each do |listing| %>
	<div class = "<%= cycle("listing_even","listing_odd") %>">
		<span class = "listing_header"><%= link_to "#{listing.title} by #{listing.author}" -%></span>
		<br/>
		<span class = "listing_description"><%= truncate(listing.description, :length => 200) -%></span>

		<% listing.listing_images do |image| %>
			<%= image_tag image.photo.url(:small) %>
		<% end %>

		<% if current_user && (listing.author == current_user.name || current_user.user_role == "admin") %>
			<%= link_to 'Show', listing %>
			<%= link_to 'Edit', edit_listing_path(listing) %>
			<%= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</div>
<% end %>

<% if flash[:notice] %>
<script type="text/javascript">
	$(document).ready(function() {
		$('#flash_notice').fadeIn(300).delay(2000).fadeOut('slow');
	})
</script>
<% end %>
<script type="text/javascript">
  $(function(){

   $('#slider-one').movingBoxes({
    startPanel   : 4,    // start with this panel
    wrap         : true, // psuedo wrapping - it just runs to the other end
    width        : 300,  // overall width of movingBoxes
    imageRatio   : 1,    // Image ration set to 1:1 (square image)
    buildNav     : true, // if true, navigation links will be added
    navFormatter : function(){ return "&#9679;"; } // function which returns the navigation text for each panel
   });

</script>

