<div id = "middle">
  <div id = "middle_content">   
    <!-- rendering partial for search_bar -->
	<%= form_tag(listingsearch_path, :method => 'get') do %>
	  <table>
	        <tr>
	        <td><%= select ("selected_category", "id", @categories.map {|u| [u.name,u.id]}) %></td>
	        <td><%= text_field_tag "searchbar"%></td>
			    <td><%= submit_tag("Search", :class => "search_button") %></td>
      <% end %>
      <td><%= link_to 'New listing', new_listing_path, :class => 'button new_button' %></td>  
    </tr>       
          
	    </table>

 
    <div id = "container">
    <p class="title">Categories</p>
    <div id = "categories">
      <ul>
        <li class="subtitle">Items</li>
		<% @categories.each do |category| %>
        <li><%= link_to category.name, "listings/category/#{category.name.downcase.sub('(','').sub(')','').sub(' ','-')}" %></li>
		<% end %>
      </ul>
    </div>
    </div>
    <div id = "content">
      <!-- <img src = "/images/rpi_strip.png" width="675px"> -->
      <p class="title">Premium Items</p>
      <div id = "recent_items">
        <% for i in (1..3) %>
          <div class="item"></div>
        <% end -%>
        <div class="lastitem"></div>
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>
      <p class="title">Recently Added Items</p>
      <div id = "recent_items">
        <% @latest_listings.each do |recent| %>
          <div class="item"><%= image_tag(recent.listing_images.first.photo.url(:small)) %></div>
        <% end -%>
        <div class="lastitem"></div>
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>      
    </div> <!-- content -->
    <div id = "clear"></div>
  </div><!-- middle content -->
  <div id = "clear"></div>

</div><!-- middle end -->    
<div id = "clear"></div>

<% @listings.each do |listing| %>
	<div class = "<%= cycle("listing_even","listing_odd") %>">
		<span class = "listing_header"><%= link_to "#{listing.title} by #{listing.author}" -%></span>
		<br/>
		<span class = "listing_description"><%= truncate(listing.description, :length => 200) -%></span>

		<% listing.listing_images do |image| %>
			<%= image_tag image.photo.url(:small) %>
		<% end %>

		<% if current_user && (listing.author == current_user.name || current_user.user_role == "admin") %>
			<%= link_to 'Show', listing %>
			<%= link_to 'Edit', edit_listing_path(listing) %>
			<%= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</div>
<% end %>


