<div id = "big_outside">
  <div id = "box" class="display_box">
  	<p class="title"><%= @show_listing.title %> - $<%= @show_listing.price %>
		<% if !current_user.nil? and current_user.id == @show_listing.user.id %>
    <%= link_to "Delete", listing_path(@show_listing.id), :method=>:delete, :class=>"color_button red medium right edit delete", :confirm=>"Are you sure?"  %>
			<%= link_to 'Edit', edit_listing_path(@show_listing), :class => "color_button blue medium right edit" -%>
		<% end %>
	</p>
  <!-- ><h2><%= flash[:notice] %></h2> -->

<table class = "left"> 
  <tr>
		<td colspan = "2">
			<% if !@show_listing.listing_images.nil? %>
				<% @show_listing.listing_images.each do |image| %>
					<%= image_tag image.photo.url(:large), :class => "table_img_center" %>
				<% end %>
			<% else %>
				<%= image_tag '/images/penguin_listings_pic.png' %>
			<% end %>
		</td>
		<td></td>
  </tr>
  <tr>
		<td class = "bold">Description:</td><td><div class="table_text"><%= @show_listing.description %></div></td>
  </tr>
  <tr>
		<td class = "bold">Price:</td><td><div class="table_text bold">$<%= @show_listing.price %></div></td>
  </tr> 
  <tr>
    <td colspan = "2" class = 'light'>Listed on <%= @show_listing.created_at.strftime("%b %d, %Y at %I:%M %p")  %></div></td>
  </tr>
</table>
</div><!-- display_box end -->



<div id = "box" class = "poster_box">
  <p class = "subtitle">Contact Seller</p>
  <div class = "section">
  	<div class = "left">
      <% if !@show_listing.user.avatar.url.to_s.include?("missing.png") %>
        <%= image_tag @show_listing.user.avatar.url(:thumb), :class => 'avatar'%>
      <% else %>
        <%= image_tag "/images/no_user_picture.png", :class => 'avatar' %>
      <% end %>
    </div>
    <div class = "left posted_by table_text"><div class = 'bold user'><%= link_to @show_listing.user.alias, root_path + 'http://mumbls.heroku.com/profile/' + @show_listing.user.alias %></div>
        <div class = "school">Senior @ RPI</div>
        <div>
        <% if @show_listing_author.first.email_is_public %>
          <%= mail_to(@show_listing_author.first.email, 'Contact ' + @show_listing.user.alias)%>
        <% else %>
        <%= 'Email is unavailable'%>
        <% end %>
        </div>
        <div><%= link_to 'Feedback'%> </div>
    </div>
    <div id = "clear"></div>
  </div>
  <div class="section">
    <h3><%= @show_listing.user.alias %>'s Other Items</h3>
      <% @listings.each_with_index do |recent, count| %>
        <% if recent.listing_images.length > 0 %>
          <% if recent.id != @show_listing.id %>
            <%= link_to(image_tag(recent.listing_images.first.photo.url(:thumb)), recent) %>
          <% end %>
		    <% end %>
      <% end -%>
    <div id = "clear"></div>
  </div>
</div>



<div id = "clear"></div>
</div>