<div id = "outside">
    <% form_for @user, :html => { :multipart => true } do |f| %>
  <div id = "left">
      <div id = "box">
        <p class="title">Register </p>
        <table>
          <tr>
            <td><%= f.label :name %></td>
            <td><%= f.text_field :name, :size => 25 %></td>
          </tr>
          <tr>
            <td><%= f.label :alias %></td>
            <td><%= f.text_field :alias, :size => 25 %></td>
          </tr>
          <tr>
            <td><%= f.label :email %></td>
            <td><%= f.text_field :email, :size => 25  %></td>
          </tr>
          <tr>
            <td></td>
            <td><div class = "notification table_text">Please keep in mind that the mumbls service is not free when registering with a non '.edu' email address</div> </td>
          </tr>
		  <tr>
          <tr>
          <td><%= f.label :password %></td>
            <td><%= f.password_field :password, :size => 25  %></td>
          </tr>
          <tr>
          <td><%= f.label :password_confirmation, "Confirm Password" %></td>
            <td><%= f.password_field :password_confirmation, :size => 25  %></td>
          </tr>          
          </tr>
		  <tr>
        <td><div class = "label"><%= f.label :email_is_public, "Share my email" %></div></td>
			<td><%= f.check_box :email_is_public, :checked => true %></td>
		  </tr>
          <%= f.hidden_field :activation_code, {:value => "#{Digest::MD5.hexdigest(Time.new.to_s)}" }%>
          <tr>
            <td></td>
            <td><%= f.submit 'Submit', :class => 'button submission' %></td>
          </tr>
      </table>
    <% end %>
    </div><!-- box end -->
    <!-- print errors -->
    <%- if @user.errors.any? %>
    <div id = "box">
        <div class = "bold">Please correct the following error(s) and resubmit</div>
          <ul>
            <%- @user.errors.full_messages.each do |msg| %>
              <li class="error"><%= msg %></li>
      		  <% end %>
      	  </ul>
    </div>
    <% end %>
  </div> <!-- left end -->
    <div id = "left">
      <div id = "box">
        <p class="title"> Already a member? </p>
        <div class = "center"><%= link_to 'Sign In', login_path, :class => "color_button large blue" %></div>
      </div>
    </div>    
  <div id = "clear"></div>
</div><!-- outside end -->
