<div id = "small_outside">
  <div id = "box" class="small_box">
    <p class="title">User Account: <%= @user.name %> 
		<% if !current_user.nil? and current_user.id == @user.id %>
			<span id="edit_button" class="color_button blue medium right edit">Edit</span>
		<% end %>
    </p> 
    <div class = 'right'><%= image_tag @user.avatar.url(:thumb) %></div>
    <table>
      <tr>
        <td>Name:</td><td><div class = "table_text"><%= @user.name %></div></td>
      </tr>
      <tr>
        <td>Alias:</td><td><div class = "table_text"><%= @user.alias %></div></td>
      </tr>
      <tr>
        <td>Email:</td><td><div class = "table_text"><%= @user.email %></div></td>
      </tr>   
    </table>  
  <div id = "clear"></div>
  </div>
<% if !current_user.nil? and current_user.id == @user.id %>
  <div id = "box" class = "edit_box small_box" style="display:none;">    
		<%= render :partial => "formedit" %>    
  </div>
<% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#edit_button').click(function(){
	  $('.edit_box').toggle();
  });
});
</script>

