<div id = "small_outside">
  <div id = "box" class="small_box">
    <p class="title"><%= current_user.alias %>'s Dashboard </p>
	<% if !@listings.nil? and @listings.count > 0 %>
    <h3>Your Listings</h3>
    <table id = "dashboard">
      <tr>
        <td><div class = "b">Image</div></td>
        <td><div class = "table_text b">Title</div></td>
        <td><div class = "table_text b">Price</div></td>
        <td><div class = "table_text b">Description</div></td> 
      </tr>
    <% @listings.each_with_index do |recent, count| %>
        <% if recent.listing_images.length > 0 %>
        <% if count%2 == 0%>
          <tr class = "lightrow">
        <% else %>
          <tr class = "darkrow">
        <% end %>
         <td><%= link_to(image_tag(recent.listing_images.first.photo.url(:thumb)), recent) %></td>
         <td><div class="table_text mtop"><%= link_to(recent.title, recent ) %></div></td>
         <td><div class="table_text mtop"><%= "$" + recent.price.to_s %></div></td> 
         <td><div class="table_text mtop"><%= truncate(recent.description, :length => 200) %></div></td> 
         <td class = "valign"><%= link_to 'Edit', edit_listing_path(recent.id), :class => "color_button blue mini right edit" -%></td>
         <td class = "valign"><div class = "valign"><%= link_to "x", listing_path(recent.id), :method=>:delete, :class=>"color_button red mini right edit", :confirm=>"Are you sure?"  %></div></td
        </tr> 
		      <% end %>
    <% end -%>
    </table>
<% else %>
	<h3>You currently have no listings.</h3>
<% end %>

<% if !@housings.nil? and @housings.count > 0 %>
	<h3>Your Housing Listings</h3
    <table id = "dashboard">
      <tr>
        <td><div class = "b">Image</div></td>
        <td><div class = "table_text b">Title</div></td>
        <td><div class = "table_text b">Price</div></td>
        <td><div class = "table_text b">Description</div></td> 
      </tr>
    <% @housings.each_with_index do |recent, count| %>
        <% if recent.housing_images.length > 0 %>
        <% if count%2 == 0%>
          <tr class = "lightrow">
        <% else %>
          <tr class = "darkrow">
        <% end %>
         <td><%= link_to(image_tag(recent.housing_images.first.photo.url(:small)), recent) %></td>
         <td><div class="table_text mtop"><%= link_to(recent.title, recent ) %></div></td>
         <td><div class="table_text mtop"><%= "$" + recent.price.to_s %></div></td> 
         <td><div class="table_text mtop"><%= truncate(recent.description, :length => 200) %></div></td> 
          <td class = "valign"><%= link_to 'Edit', edit_housing_path(recent.id), :class => "color_button blue mini right edit" -%></td>
         <td class = "valign"><div class = "valign"><%= link_to "x", housing_path(recent.id), :method=>:delete, :class=>"color_button red mini right edit", :confirm=>"Are you sure?"  %></div></td
        </tr> 
		      <% end %>
    <% end -%>
    </table>
<% end %>
</div>

<% if !@mod_listings.nil? %>
 <div id = "box" class="small_box">
<p class="title">Admin Panel </p>
  <h3>Moderate Listings</h3>
    <table id = "dashboard">
      <tr>
        <td><div class = "b">Image</div></td>
        <td><div class = "table_text b">Title</div></td>
        <td><div class = "table_text b">Price</div></td>
        <td><div class = "table_text b">Description</div></td> 
        <td><div class = "table_text b">Poster</div></td>
      </tr>
    <% @mod_listings.each_with_index do |recent, count| %>
        <% if recent.listing_images.length > 0 %>
        <% if count%2 == 0%>
          <tr class = "lightrow">
        <% else %>
          <tr class = "darkrow">
        <% end %>
         <td><%= link_to(image_tag(recent.listing_images.first.photo.url(:thumb)), recent) %></td>
         <td><div class="table_text mtop"><%= link_to(recent.title, recent ) %></div></td>
         <td><div class="table_text mtop"><%= "$" + recent.price.to_s %></div></td> 
         <td><div class="table_text mtop"><%= truncate(recent.description, :length => 200) %></div></td> 
         <td><div class="table_text mtop"><%= recent.user.alias %></div></td>
         <td class = "valign"><%= link_to 'Edit', edit_listing_path(recent.id), :class => "color_button blue mini right edit" -%></td>
         <td class = "valign"><div class = "valign"><%= link_to "x", listing_path(recent.id), :method=>:delete, :class=>"color_button red mini right edit", :confirm=>"Are you sure?"  %></div></td
        </tr> 
		      <% end %>
    <% end -%>
  </table>


    <h3>Moderate Housing Listings <%= @mod_housings.count.to_s %></h3>
    <table id = "dashboard">
      <tr>
        <td><div class = "b">Image</div></td>
        <td><div class = "table_text b">Title</div></td>
        <td><div class = "table_text b">Price</div></td>
        <td><div class = "table_text b">Description</div></td> 
        <td><div class = "table_text b">Poster</div></td>
      </tr>
    <% @mod_housings.each do |recent| %>

          <tr class ="<%= cycle("lightrow","darkrow") -%>">
	     <% if recent.housing_images.length > 0 %>
         	<td><%= link_to(image_tag(recent.housing_images.first.photo.url(:small)), recent) %></td>
		 <% else %>
			<td><%= link_to(image_tag("/images/penguin_housing_pic.png"), recent) %></td>
		 <% end %>
         <td><div class="table_text mtop"><%= link_to(recent.title, recent ) %></div></td>
         <td><div class="table_text mtop"><%= "$" + recent.price.to_s %></div></td> 
         <td><div class="table_text mtop"><%= truncate(recent.description, :length => 200) %></div></td> 
         <td><div class="table_text mtop"><%= recent.user.alias %></div></td>
         <td class = "valign"><%= link_to 'Edit', edit_housing_path(recent.id), :class => "color_button blue mini right edit" -%></td>
         <td class = "valign"><div class = "valign"><%= link_to "x", housing_path(recent.id), :method=>:delete, :class=>"color_button red mini right edit", :confirm=>"Are you sure?"  %></div></td
        </tr> 
    <% end -%>
    </table>


<% end %>
</div>
</div>