<div id = "middle">
  <div id = "middle_content">   
    <!-- rendering partial for search_bar -->
	<%= form_tag(homesearch_path, :method => 'get') do %>
	  <table>
	        <tr>
	        <td>
				<select name="category_id">
					<option value="all">All</option>
					<option value="listings">Listings</option>
					<option value="housings">Housings</option>
					<% @categories.each do |category| %>
						<% if category.id > 15 %>
							<option value="<%= category.id %>"><%= category.name + ' - ' + category.parent %></option>
						<% else %>
							<option value="<%= category.id %>"><%= category.name  %></option>
						<% end %>
					<% end %>
				</select>
			</td>
	        <td><%= text_field_tag "searchbar", "Search"%></td>
			<td><%= submit_tag("Search", :class => "button") %></td>
	      </tr>
	    </table>
	<% end %>
    
    <div id = "container">
    <p class="title">Categories</p>
    <div id = "categories">
      <ul>
		<li class="subtitle">Items</li>
		<% @items.each do |item| %>
        	<li><%= link_to item.name + " (" + item.listing.count.to_s + ")" , "listings/category/#{item.name.downcase.sub('(','').sub(')','').sub(' ','-')}" %></li>
		<% end %>
		<li class="subtitle">Jobs</li>
		<% @jobs.each do |job| %>
        	<li><%= link_to job.name, "jobs/category/#{job.name.downcase.sub('(','').sub(')','').sub(' ','-')}" %></li>
		<% end %>
		<li class="subtitle">Rent</li>
		<% @rent.each do |r| %>
        	<li><%= link_to r.name + " (" + r.housing.count.to_s + ")" , housings_path + "/category/#{r.name.downcase.sub('(','').sub(')','').gsub(' ','-').sub('/','-')}" %></li>
		<% end %>
      </ul>
    </div>
    </div>
    <div id = "content">
 	<!-- jQuery Featured Seller Gallery -->
	<% if !@latest_listings.first.nil? %>
		<p class="title">Premium Items</p>
    <div class = "premium_items">
		  <div class="main_image">
		    <%= image_tag(@latest_listings.first.listing_images.first.photo.url(:large))%>	
		    <div class="desc">
		        <a href="#" class="collapse">Close Me!</a>
		        <div class="block">
                <div class = "premium_title"><%= @latest_listings.first.title %></div>
                <small><%= @latest_listings.first.description %></small>
		        </div>
		    </div>
      </div><!-- main_image end -->
		  <div class="image_thumb">
			<ul>
				<% @latest_listings.each do |recent| %>
				<% if @latest_listings.first.title == recent.title %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
					<% if recent.listing_images.length > 0 %>
						<%= link_to(image_tag(recent.listing_images.first.photo.url(:thumb)),recent.listing_images.first.photo.url(:large)) %>
					<% end %>
          <div class="block">
            <div class = "premium_title"><%= h recent.title%></div>
            <small><%= h recent.description %></small>
            </div>
          </li>
				<% end %>
      </ul>
      <div id = "clear"></div>
      </div><!-- image_thumb end -->
	<% end %>
  <div id = "clear"></div>
  </div><!-- premium items gallery end -->
      <img src = "/images/mums_banner.png" class="banner" border="0"/>
	 <% if !@premium_items.nil? and @premium_items.count > 0%>
      <p class="title">Premium Items</p>
      <div id = "recent_items">
        <% for i in (1..4) %>
          <div class="item"></div>
        <% end -%>
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>
	<% end %>

      <p class="title">Recently Added Items</p>
      <div id = "recent_items">
       <% @latest_listings.each do |recent| %>
			<% if recent.listing_images.length > 0 %>
         <div class="item">
          <div class ="item_image"><%= link_to(image_tag(recent.listing_images.first.photo.url(:small)), recent) %></div>
          <div class = "item_text">
            <div class = "item_title"><%= link_to(recent.title, recent ) %></div>
            <div class = "item_author"><%= link_to(recent.author, recent ) %></div>
            <div class = "item_price"><%= "$" + recent.price.to_s %></div>
          </div>
        </div>          
			<% end %>
	    <% end -%>      
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>  

	 <p class="title">Latest Housings</p>
      <div id = "recent_housings">
       	<%= render :partial => "googleMap" %>
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>
	<script type="text/javascript">
		<%= show_all(@latest_housings) %>
	</script>


    </div> <!-- content -->
    <div id = "clear"></div>
  </div><!-- middle content -->
  <div id = "clear"></div>

</div><!-- middle end -->    
<div id = "clear"></div>
