<div id = "middle">
  <div id = "middle_content">   
    <!-- rendering partial for search_bar -->
    <%= form_tag(homesearch_path, :method => 'get') do %>
	  <table>
	    <tr>
	      <td>
				  <select name="category_id">
					  <option value="all">All</option>
					  <option value="listings">Listings</option>
					  <option value="housings">Housings</option>
            <% @categories.each do |category| %>
            <% if category.id > 15 %>
						<option value="<%= category.id %>"><%= category.name + ' - ' + category.parent %></option>
						<% else %>
						<option value="<%= category.id %>"><%= category.name  %></option>
						<% end %>
					<% end %>
				  </select>
			  </td>
	      <td><%= text_field_tag "searchbar", "Search"%></td>
			  <td><%= submit_tag("Search", :class => "button") %></td>
        <td><%= link_to 'New Listing', new_listing_path, :class => 'large color_button green new_listing' %></td>  
	    </tr>
	  </table>
    <% end %>
 
    <div id = "container">
      <p class="title">Categories</p>
      <div id = "categories">
        <ul>
          <li class="subtitle">Items</li>
          <% @items.each do |item| %>
          <li><%= link_to item.name + " (" + item.listing.count.to_s + ")" , listings_path + "/category/#{item.name.downcase.sub('(','').sub(')','').sub(' ','-')}" %></li>
          <% end %>
          <li class="subtitle">Jobs</li>
          <% @jobs.each do |job| %>
          <li><%= link_to job.name, "jobs/category/#{job.name.downcase.sub('(','').sub(')','').sub(' ','-')}" %></li>
          <% end %>
          <li class="subtitle">Rent</li>
          <% @rent.each do |r| %>
          <li><%= link_to r.name + " (" + r.housing.count.to_s + ")" , housings_path + "/category/#{r.name.downcase.sub('(','').sub(')','').gsub(' ','-').sub('/','-')}" %></li>
          <% end %>
        </ul>
      </div> <!-- categories end -->
    </div><!-- container end -->
  <div id = "content">
 	<!-- jQuery Featured Seller Gallery -->
	<% if !@premium_listings.first.nil? %>
		<p class="title">Premium Items</p>
    <div class = "premium_items">
		  <div class="main_image">
			<% if !@premium_listings.first.listing_images.nil? and @premium_listings.first.listing_images.count > 0 %>
		    	<%= image_tag(@premium_listings.first.listing_images.first.photo.url(:large))%>
			<% else %>
				<%= image_tag '/images/penguin_housing_pic.png' %>
			<% end %>
		    <div class="desc">
		        <a href="#" class="collapse">Close Me!</a>
		        <div class="block">
                <div class = "premium_title"><%= link_to @premium_listings.first.title, listing_path(@premium_listings.first.id) %></div>
                <small><%= @premium_listings.first.description %></small>
		        </div>
		    </div>
      </div><!-- main_image end -->
		  <div class="image_thumb">
			<ul>
				<% @premium_listings.each do |recent| %>
				<% if @premium_listings.first.title == recent.title %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
					<% if recent.listing_images.length > 0 %>
						<%= link_to(image_tag(recent.listing_images.first.photo.url(:thumb)),recent.listing_images.first.photo.url(:large)) %>
					<% end %>
          <div class="block">
            <div class = "premium_title"><%= link_to recent.title, listing_path(recent.id) %></div>
            <small><%= h recent.description %></small>
            </div>
          </li>
				<% end %>
      </ul>
      <div id = "clear"></div>
      </div><!-- image_thumb end -->
	<% end %>
  <div id = "clear"></div>
  </div><!-- premium items gallery end -->
	 <% if !@premium_items.nil? and @premium_items.count > 0%>
      <p class="title">Premium Items</p>
      <div id = "recent_items">
        <% for i in (1..4) %>
          <div class="item"></div>
        <% end -%>
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>
	<% end %>

	<p class="title"><%= link_to "Recently Added Items", listings_path %></p>
		<div id = "recent_items">
		<% @latest_listings.each_with_index do |recent, count| %>
			<% if recent.listing_images.length > 0 %>
				<% if count%4 == 0 and count != 0 %>
				<div id = "clear"></div> 
				</div>
				<div id = "recent_items">
				<% end %>
				<div class="item">
				<div class ="item_image"><%= link_to(image_tag(recent.listing_images.first.photo.url(:small)), recent) %></div>
				<div class = "item_text">
				<div class = "item_title"><%= link_to(truncate(recent.title, 40, "..."), recent ) %></div>
				<div class = "item_author"><%= link_to(recent.user.alias, '/profile/'+recent.user.alias ) %></div>
				<div class = "item_price"><%= "$" + recent.price.to_s %></div>
				</div> 
				</div><!-- item end -->        
			<% end %>
		<% end -%> 
		<div id = "clear"></div>    
	</div> 

	 <p class="title"><%= link_to "Latest Housings in Troy", housings_path %></p>
      <div id = "recent_housings">
       	<%= render :partial => "googleMap" %>
        <div class="bigarrow"></div>
        <div id = "clear"></div>
      </div>
	<script type="text/javascript">
		<%= show_all(@latest_housings).html_safe %>
	</script>


    </div> <!-- content -->
    <div id = "clear"></div>
  </div><!-- middle content -->
  <div id = "clear"></div>

</div><!-- middle end -->    
<div id = "clear"></div>
