<p>Current Listings</p>
<table>
<% @listings.each do |listing| %>
  <tr>
	<td>
		<%= link_to image_tag(listing.listing_images.first.photo.url(:small)), listing %>
	</td>
    <td><%= link_to listing.title, listing %> by <%= listing.author %></td>
	<td><%= listing.description %></td>
  </tr>
<% end %>
</table>
<% if current_user %>
	<%= link_to 'Listings', listings_path %>
<% else %>
	<p>Please Login in order to view listings</p>
<% end %>


