<div id = "middle">
  <div id = "middle_content">   
    <!-- rendering partial for search_bar -->
	<%= form_tag(listingsearch_path, :method => 'get') do %>
	  <table>
	        <tr>
	        <td><%= select ("selected_category", "id", @categories.map {|u| [u.name,u.id]}) %></td>
		    <td><%= text_field_tag "searchbar", "Search"%></td>
			<td><%= submit_tag("Search", :class => "button") %></td>
			<td><%= link_to 'New Housing Listing', new_housing_path, :class => 'large color_button green new_listing' %></td>  
	      </tr>
	    </table>
	<% end %>
    
    <div id = "container">
    <p class="title">Categories</p>
    <div id = "categories">
      <ul>
        <li class="subtitle">Items</li>
		<li><%= link_to "All (" + @housing_count.to_s + ")", housings_path + "/category/all" %>
		<% @categories.each do |category| %>
        <li><%= link_to category.name + " (" + category.housing.count.to_s + ")", housings_path + "/category/#{category.name.downcase.sub('(','').sub(')','').gsub(' ','-').sub('/','-')}" %></li>
		<% end %>
      </ul>
    </div>
    </div>
    <div id = "content">
      	<p class="title">Housing Listings in Troy, NY</p>
      	<%= render :partial => "googleMap" %>
		<p class="title">Recently Added Housing Listings</p>
		      <div id = "recent_items">
		      <% @housings.each_with_index do |recent, count| %>
		      <% if count%4 == 0 and count != 0 %>
		      <div id = "clear"></div> 
		      </div>
		      <div id = "recent_items">
		      <% end %>
		        <div class="item">
              <div class = "item_text">
		            <div class = "item_title"><%= link_to(truncate(recent.title, 40, "..."), recent ) %></div>
		            <div class = "item_author"><%= link_to(recent.user.alias, recent ) %></div>
		            <div class = "item_price"><%= "$" + recent.price.to_s %></div>
		          </div> 
		        </div><!-- item end -->        
		        <% end -%> 
		        <div id = "clear"></div>    
</div>
    </div> <!-- content -->
    <div id = "clear"></div>
  </div><!-- middle content -->
  <div id = "clear"></div>
</div><!-- middle end -->    
<div id = "clear"></div>
<script type="text/javascript">
	<%= show_all(@housings) %>
</script>