<div id = "middle">
  <div id = "middle_content">   
    <!-- rendering partial for search_bar -->
	<%= form_tag(listingsearch_path, :method => 'get') do %>
	  <table>
	        <tr>
	        <td><%= select ("selected_category", "id", @categories.map {|u| [u.name,u.id]}) %></td>
	        <td><%= text_field_tag "searchbar"%></td>
			<td><%= submit_tag("Search") %></td>
	      </tr>
	    </table>
	<% end %>
    
    <div id = "container">
    <p class="title">Categories</p>
    <div id = "categories">
      <ul>
        <li class="subtitle">Items</li>
		<li><%= link_to "All (" + @housing_count.to_s + ")", housings_path + "/category/all" %>
		<% @categories.each do |category| %>
        <li><%= link_to category.name + " (" + category.housing.count.to_s + ")", housings_path + "/category/#{category.name.downcase.sub('(','').sub(')','').gsub(' ','-').sub('/','-')}" %></li>
		<% end %>
      </ul>
    </div>
    </div>
    <div id = "content">
      	<%= render :partial => "googleMap" %>
    </div> <!-- content -->
    <div id = "clear"></div>
  </div><!-- middle content -->
  <div id = "clear"></div>
</div><!-- middle end -->    
<div id = "clear"></div>
<script type="text/javascript">
	<%= show_all(@housings	) %>
</script>

<%= link_to 'New Housing Listing', new_housing_path %>