<h1>Showing listing <%= @show_listing.title %></h1>
<h2><%= flash[:notice] %></h2>
<table>
	<tr>
		<th>Author</th>
		<th>Title</th>
		<th>Description</th>
		<th>Pics</th>
		<th></th>
	</tr>
	<tr>
		<td><%= @show_listing.author %></td>
		<td><%= @show_listing.title %></td>
		<td><%= @show_listing.description %></td>
		<td>
			<% @show_listing.listing_images.each do |image| %>
				<%= image_tag image.photo.url(:small) %>
			<% end %>
		</td>
		<td></td>
	</tr>

</table>
<br />

<%= link_to 'New listing', new_listing_path %>