<div id = "big_outside">
  <div id = "box" class="display_box">
    <p class="title"><%= @housing.title %>
		<% if !current_user.nil? and current_user.id == @housing.user.id %>
			<%= link_to "Delete", housing_path(@housing.id), :method=>:delete, :class=>"color_button red medium right edit delete", :confirm=>"Are you sure?"  %>
			<%= link_to 'Edit', edit_housing_path(@housing), :class => "color_button blue medium right edit" -%>
		<% end %>
      <!-- ><h2><%= flash[:notice] %></h2>-->
    <table>
       <tr>
    		<td class = "bold">Description:</td><td><div class="table_text"><%= RedCloth.new(@housing.description).to_html.html_safe %></div></td>
      </tr>
      <tr>
    		<td class = "bold">Price:</td><td><div class="table_text">$<%= @housing.price %>/month</div></td>
      </tr>
      <tr>
    			<% @housing.housing_images.each do |image| %>
            <td colspan="2">
              <%= image_tag image.photo.url(:large) %>
            </td>
    			<% end %>
    	</tr>
      
      <tr>
        <td colspan = "2"><div id="map" style="width: 500px; height: 320px; border: 1px solid #777; overflow: hidden; margin: 0 auto;"></div> </td>
      </tr>
      <tr>
        <td colspan = "2" class = 'light'>Listed on <%= @housing.created_at.to_formatted_s(:long_ordinal)  %></div></td>
      </tr>   
    </table>
                
                
  </div><!-- display_box end> -->
  
  <div id = "box" class = "poster_box">
    <p class = "subtitle">Contact Seller</p>
    <div class = "section">
    	<div class = "left">
        <% if !@housing.user.avatar.url.to_s.include?("missing.png") %>
        <%= image_tag @housing.user.avatar.url(:thumb), :class => 'avatar'%>
        <% else %>
        <%= image_tag "/images/no_user_picture.png", :class => 'avatar' %>
        <% end %>
      </div>
      <div class = "left posted_by table_text"><div class = 'bold user'><%= link_to @housing.user.alias, user_path(@housing.user.id) %></div>
      <div class = "school">Senior @ RPI</div>
          <div>
            <% if @housing.user.email_is_public %>
            <%= mail_to(@housing.user.email, 'Contact ' + @housing.user.alias)%>
            <% else %>
            <%= 'Email is unavailable'%>
            <% end %>
          </div>
          <div><%= link_to 'Feedback'%> </div>
        </div>
        <div id = "clear"></div>
      </div>
      
  </div>
  <div id = "clear"></div>
</div>
<script type="text/javascript">
	<%= show_housing_listing(@address).html_safe %>
</script>