<h1>Showing listing <%= @housing.title %></h1>
<h2><%= flash[:notice] %></h2>
<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Pics</th>
		<th></th>
	</tr>
	<tr>
		<td><%= @housing.title %></td>
		<td><%= @housing.description %></td>
		<td>
			<% @housing.housing_images.each do |image| %>
				<%= image_tag image.photo.url(:small) %>
			<% end %>
		</td>
		<td></td>
	</tr>

</table>

<br />

<%= link_to 'New listing', new_housing_path %>