<!DOCTYPE html>
<html>
<head>
	<title>Mumbls ~</title>
	<%= javascript_include_tag gmap_api_key %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery', 'application' %>
	<%= javascript_include_tag 'jquerygmap' %>
	<%= stylesheet_link_tag "mainstyle.css" %>
	<%= stylesheet_link_tag "imagerotator.css" %>
  <%= stylesheet_link_tag "button.css" %>
  <%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>  
</head>
<body> 
  <div id = "header">
    <div id = "header_content">
      <div id = "leftcolumn">
          <a href = "/"><img src = "/images/mumbls_penguin.png" border="0"/></a>
        </div>
        <div id = "rightcolumn">
          <div id = "minimenu">
            <% if current_user %>
            <ul>
              <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
              <li><%= link_to 'Network: RPI' -%></li>
              <li><%= link_to 'Conversations (0)' -%></li>
              <li><%= link_to 'Dashboard', '/home/dashboard' -%></li>
              <li><%= link_to 'My Account ('+truncate(current_user.alias, 15, "...")+')', '/profile/'+current_user.alias -%></li>   
            </ul>
            <% else %>
            <ul>
              <li><%= link_to 'Help', login_path -%></li>
              <li><%= link_to 'Watch List (0)' -%></li>
              <li><%= link_to 'Register', new_user_path -%></li>
              <li><%= link_to 'Sign In', login_path -%></li>
              
            </ul>
            <% end %> 
            <div id = "clear"></div>
          </div><!-- minimenu -->
          <div id = "nav">
            <ul>
                  <% if flash[:notice] %>
                  <li id = "flash_notice" class = "notice nav" style="display: none">              
                    <div class = "notice_message"><%= flash[:notice] %></div>          
                  </li>
              <% end %>
              <li><%= link_to 'Housing', housings_path, :class => 'button nav' -%></li>
              <li><%= link_to 'Jobs', housings_path, :class => 'button nav' -%></li>
              <li><%= link_to 'For Sale', listings_path, :class => 'button nav' -%></li> 


            </ul>  
            </div><!-- nav -->

          <div id = "clear"></div>
        </div><!-- rightcolumn -->
        <div id = "clear"></div>
      </div><!--header_content -->
    </div> <!-- header -->
    <div id = "wrapper">
	<%= yield %>
      <div id = "footer"> 
      <ul>
        <li>Privacy Policy</li>
        <li>Contact</li>
        <li>About Us</li> 
      </ul>
    </div>
  </div> <!-- wrapper end -->
    
  

</body>
</html>
