<!DOCTYPE html>
<html>
<head>
	<title>Mumbls ~</title>
	<%= javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAoHnqt2XVAb7ehuW5CBUkihQDNUKtWYO0YNsBQklWEm0Tg_LWZBQnGqoPh5Cn4uiYV-LPfiDfYMfksA" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
	<%= javascript_include_tag "jquery-rails.js" %>
	<%= stylesheet_link_tag "mainstyle.css" %>
	<%= csrf_meta_tag %>
</head>
<body> 
  <div id = "header">
    <div id = "header_content">
      <div id = "leftcolumn">
          <a href = "http://localhost:3000"><img src = "/images/mumbls_penguin.png" border="0"/></a>
        </div>
        <div id = "rightcolumn">
          <div id = "minimenu">
            <!--<% flash.each do |key, msg| %>
              <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
              <%= content_tag :script, :type => "text/javascript" do -%>
              setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
              <% end %>
              <% end %> !-->
            <% if current_user %>
            <ul>
              <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
              <li><%= link_to 'Network: RPI' -%></li>
              <li><%= link_to 'Conversations (0)' -%></li>
              <li><%= link_to 'Dashboard', '/home/dashboard' -%></li>
              <li><%= link_to 'My Account ('+truncate(current_user.alias, 15, "...")+')', '/profile/'+current_user.alias -%></li>   
            </ul>
            <% else %>
            <ul>
              <li><%= link_to 'Help', login_path -%></li>
              <li><%= link_to 'Watch List (0)' -%></li>
              <li><%= link_to 'Register', new_user_path -%></li>
              <li><%= link_to 'Sign In', login_path -%></li>
              
            </ul>
            <% end %> 
            <div id = "clear"></div>
          </div><!-- minimenu -->
          <div id = "nav">
            <ul>
              <li><%= link_to 'Housing', housings_path, :class => 'button' -%></li>
              <li><%= link_to 'Jobs', housings_path, :class => 'button' -%></li>
              <li><%= link_to 'For Sale', listings_path, :class => 'button' -%></li> 
            </ul>    
            </div><!-- nav -->
          <div id = "clear"></div>
        </div><!-- rightcolumn -->
        <div id = "clear"></div>
      </div><!--header_content -->
    </div> <!-- header -->
  <div id = "wrapper">
	<% flash.each do |key, msg| %>
		<%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
		<%= content_tag :script, :type => "text/javascript" do -%>
			setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
		<% end %>
	<% end %>
	<%= yield %>
      <div id = "footer"> 
      <ul>
        <li>Privacy Policy</li>
        <li>Contact</li>
        <li>About Us</li> 
      </ul>
    </div>
  </div> <!-- wrapper end -->
  
  

</body>
</html>
